@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #000000; /* system-background */
    color: rgba(255, 255, 255, 0.85); /* system-label */
}

/* Scrollbar stilleri (isteğe bağlı ama şık durur) */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #2C2C2E #1C1C1E;
}
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
    background: #1C1C1E;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #2C2C2E;
    border-radius: 10px;
    border: 3px solid #1C1C1E;
}